*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-right: 100px;
}
.box__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hello{
    margin-left: 550px;
}